<div class="crumbs">
  <a href="/">Database</a> > Collection <%= collection %> > Documents
</div>
<div class="content">
  <div>
    <a href="#" class="popup" data="new_document">Add Document</a>
    <% if documents.count == 0 %>
      | <a href="#" class="popup" data="delete_collection">Drop Collection</a>
    <% end %>
  </div>
  <% if documents.count == 0 %>
    <div class="empty">This collection has no documents</div>
  <% else %>
    <div class="table_wrapper">
      <table class="documents">
        <tr><th>Document Id</th><th>Document Data</th></tr>      
        <% documents.each do |d| %>
          <tr>
            <td class="document_id"><a href="/<%= collection%>/<%= d['_id']%>"><%= d["_id"] %></a></td>
            <td><%= truncate(escape_html(exclude_id(d)),180) %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="page_navigation">
      <% if skip > 0  %>
        <a href="/<%= collection %>?skip=<%= max(skip-page_size,0)%>">Previous</a>
      <% end %>
      <% if skip > 0 && skip + page_size < count %> | <% end %>
      <% if skip + page_size < count %>
        <a href="/<%= collection %>?skip=<%= skip+page_size %>">Next</a>
      <% end %>
    </div>
  <% end %>
</div>
<div id="new_document" class="popup" style="display:none;">
  <h2>New Document</h2>
  <p>JSON Data</p>
  <form action="/<%= collection %>" data="document" method="POST">
    <div id="json_error"></div>
    <div><textarea id="document" name="document"><%= document %></textarea></div>
    <div class="submit"><input type="submit" value="Create"><a class="close">Cancel</a></div>    
  </form>
</div>
<div id="delete_collection" class="popup" style="display:none;">
  <h2>Drop Collection</h2>
  <p>Are you sure you want to drop this collection?</p>
  <form action="/<%= collection %>" data="document" method="POST">
    <input type="hidden" name="_method" value="delete">
    <div class="submit"><input type="submit" value="Drop"><a class="close">Cancel</a></div>    
  </form>
</div>