<!doctype html>
<html>
<head>
<link rel="stylesheet" href="http://yandex.st/highlightjs/6.1/styles/default.min.css">
<link rel="stylesheet" href="/css/site.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/app.js"></script>
</head>
<body>
<%= yield %>
</body>
</html>
